<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bed booking</title>
</head>
<body>
     <center>
    <h3>ADD BED</h3>
    <table border="1">
        <tr>
            <th>Date</th>
            <th>Hospital name</th>
            <th>Hospital place</th>
            <th>Room/ward no</th>
            <th>Availability</th>
        </tr>
        {% for in beds %}
        <tr>

            <td>{{i.Date}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</center> 
</body>
</html>