<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor</title>
</head>
<body>
    <form method="post">
        {%csrf_token%} 
        <center>
        <h2 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-style: oblique;">DOCTOR'S INFO</h2>
        Doctor Name : 
        <input type="text" name="DoctorName"/>
        <br/>
        <br/>
       Doctor place :
        <input type="text" name="Place"/>
        <br/>
        <br/>
        Department :
        <select name="Department"><option value="orthologist">orthologist</option>
        <option value="physician">physician</option>
        <option value="gynacologist">gynacologist</option>
        <option value="neurology">neurology</option>
        <option value="dermatology">dermatology</option>
        <option value="cardiologist">cardiologist</option>
        <option value="gastroentrology">gastroentrology</option>
        <option value="oncologist">oncologist</option>
        <option value="anestesialogy">anestesialogy</option>
        <option value="pediatrics">pediatrics</option></select>
        <br/>
        Phone no  : 
        <input type="text" name="contact_no"/>
        <br/>
        <br/>
        <input type="submit" style="padding: 10px;margin: 10px;background-color:azure; color: brown;" value="SUBMIT"/>
    </center>
    </form>
</body>
</html>