<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors</title>
</head>
<body>
     <center>
        <h3>ADD & MANAGE DOCTORS</h3>
    <table border="1">
        <tr>
            <th>Doctor name</th>
            <th>Doctor place</th>
            <th>Department</th>
            <th>Phone no</th>
            <th>Action</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="#">Edit</a>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="#">Delete</a>
        </tr>
    </table>
    <br/>
    <input type="button" value="ADD" style="margin-left: 350px;"/>
    </center>
</body>
</html>