<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prescription</title>
</head>
    <center>
<body>PRESCRIPTION</h3>
    <br>
    <br>
        <form method="post" enctype="multipart/form-data">
            {%csrf_token%}
            User :
            <select name="USER">
                
            <option value="null">-- Please select the User --</option>
            {% for i in user %}
        <option value="{{i.id}}">{{i.Name}}</option>
        {% endfor %}
        
        </select>
        <br>
        <br>
        Prescription :
        <input type="text" name="Prescription"/>
        <br>
        <input type="file" name="file"/>
        <br>
        <br>
        <input type="submit" value="SUBMIT"/>
    </center>
</body>
</html>