<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prescription</title>
</head>
    <center>
<body>PRESCRIPTION</h3>
    <br>
    <br>
        <form>
            User :
            <select name="User">
            <option value="null">-- Please select the User --</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        </select>
        <br>
        <br>
        Prescription :
        <input type="text" name="Prescription"/>
        <br>
        <input type="file"/>
        <br>
        <br>
        <input type="submit" value="SUBMIT"/>
    </center>
</body>
</html>