<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review_rate</title>
</head>
<body>
     <form>
        <center>
        <h2 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-style: oblique;">REVIEW & RATING</h2>
        Review : 
        <input type="text"/>
        <br/>
        <br/>
        Rating :
        <select><option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <br/>
        <input type="button" style="padding: 10px;margin: 10px;background-color:azure; color: brown;" value="SUBMIT"/>
    </center>
    </form>
</body>
</html>