<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review & Rating</title>
</head>
<body>
    <center>
    <h3>REVIEW & RATING</h3>
    <table border="1">
        <tr>
            <th>Date</th>
            <th>Username</th>
            <th>E-mail</th>
            <th>Review</th>
            <th>Rating</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</center>    
</body>
</html>