<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>equipments</title>
</head>
<body>
  
    <center>
        <h3>PHARMACY EQUIPMENTS</h3>
    <table border="1">
        <tr>
            <th>Date</th>
            <th>medicine name</th>
            <th>manufactured date</th>
            <th>expairy date</th>
            <th>medicine description</th>
        </tr>
        <tr>
            <td><input type="date"/></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><input type="date"/></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <br/>
    <input type="submit" value="add" style="margin-left: 500px;"/>
    </center>  
</body>
</html>