<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Facility</title>
</head>
<body>
   <center>
    <h3>TRAVEL FACILITY</h3>
    <table border="1">
        <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Vehicle</th>
            <th>Vehicle no</th>
            <th>Availability</th>
            <th>Contact no</th>
        </tr>
        <tr>
            <td><input type="date"/></td>
            <td></td>
            <td></td>
            <td></td>
            <td><input type="button" value="YES"/></td>
            <td></td>
        </tr>
        <tr>
            <td><input type="date"/></td>
            <td></td>
            <td></td>
            <td></td>
            <td><input type="button" value="NO"/></td>
            <td></td>
        </tr>
    </table>
    <br/>
    <input type="button" value="ADD" style="margin-left: 350px;"/>
</center> 
</body>
</html>