<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Pharmacy</title>
</head>
<body>
    <center>
    <h3>VERIFY PHARMACY</h3>
    <table border="1">
        <tr>
            <th>Pharmacy name</th>
            <th>contact no</th>
            <th>place</th>
            <th>Equipments</th>
            <th>Action</th>
        </tr>
        {% for i in pharmacies %}
        <tr>
            <td>{{i.PharmacyName}}</td>
            <td>{{i.ContactNo}}</td>
            <td>{{i.Address}}</td>
            <td>{{i.Email}}</td>
            {% if i.LOGIN.UserType == "Pharmacy" %}
            <td><a href="/Reject_P/{{i.id}}">Reject</a></td>
            {% elif i.LOGIN.UserType == "Rejected" %}
            <td><a href="/Accept_P/{{i.id}}">Accept</a></td>
            {% else %}
            <td><a href="/Accept_P/{{i.id}}">Accept</a><br/>
                <a href="/Reject_P/{{i.id}}">Reject</a></td>
                {% endif %}
        </tr>
        {% endfor %}
    </table>
</center>
</body>
</html>